.fondoGame {
  //order-bottom: 1px solid $primary-dark;
}

app-games .nameMonth {
  background-color: $gray !important;
  color: $white;
}

app-games .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: $gray !important;
}

app-games .nav-tabs .nav-item .nav-link {
  border-radius: 0px;
  color: $gray;
  border-width: 1px;
}

app-games .nav-tabs .nav-item {
  width: 50%;
  text-align: center;
}

app-games .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: $gray !important;
}

.fondoGame > div {
  border-bottom: 1px solid $white;
  background-color: $success;
  color: $white;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  app-games h1 {
    font-size: 1.5em;
  }
  app-games h2 {
    font-size: 1.2em;
  }
  app-games h4 {
    font-size: 1.2em;
  }
  app-games h5 {
    font-size: 1em;
  }

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

