app-details > div:first-child {
  background-color: $primary-dark;
  color: $white;
}

app-details .close:focus,
app-details .close:hover,
app-details .close {
  color: $white;
  outline: none !important;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 999999999;
  font-size: 1.5em;
}

app-players > div > div {
  cursor: pointer;
}

app-players > div > div > div > div {
  border: 1px solid $secondary;
}

app-players > div > div > div:hover img {
  opacity: .8;
}


