app-statistics table thead {
  background-color: $gray;
  color: $white;
}

app-statistics table tbody tr {
  background-color: $success;
  color: $white;
}

app-statistics table tbody tr:hover {
  background-color: $success-light;
}

@media (max-width: 575.98px) {
  app-statistics h1 {
    font-size: 1.5em;
  }
  app-statistics h2 {
    font-size: 1.2em;
  }
  app-statistics h4 {
    font-size: 1.2em;
  }
  app-statistics h5 {
    font-size: 1em;
  }

}
