// Cutoms Gray colors for theme
$white: #FFFFFF;
$gray: #7F7F7F;

// Custom brand colors for theme
$slate: #607D8B;
$inverse: #131e26;
$purple: #673AB7;
$green: #8BC34A;
$orange: #FF9800;
$teal: #009688;
$pink: #E91E63;
$violet: #9C27B0;
$indigo: #3F51B5;
$blue: #03A9F4;
$brown: #795548;
$yellow: #ffffd1;

$primary: #0f6c36;
$secondary: #ebc516;
$success: #78B04E;
$info: #00BCD4;
$warning: #FF5722;
$danger: #F44336;
$dark: #3a3f51;

// Custom color variants
$amountOfLight: 10%;

$primary-light: lighten($primary, $amountOfLight);
$success-light: lighten($success, $amountOfLight);
$info-light: lighten($info, $amountOfLight);
$warning-light: lighten($warning, $amountOfLight);
$danger-light: lighten($danger, $amountOfLight);
$inverse-light: lighten($inverse, $amountOfLight);
$green-light: lighten($green, $amountOfLight);
$pink-light: lighten($pink, $amountOfLight);
$purple-light: lighten($purple, $amountOfLight);
$violet-light: lighten($violet, $amountOfLight);
$indigo-light: lighten($indigo, $amountOfLight);
$blue-light: lighten($blue, $amountOfLight);
$teal-light: lighten($teal, $amountOfLight);
$orange-light: lighten($orange, $amountOfLight);
$brown-light: lighten($brown, $amountOfLight);
$slate-light: lighten($slate, $amountOfLight);
$primary-dark: darken($primary, $amountOfLight);
$success-dark: darken($success, $amountOfLight);
$info-dark: darken($info, $amountOfLight);
$warning-dark: darken($warning, $amountOfLight);
$danger-dark: darken($danger, $amountOfLight);
$inverse-dark: darken($inverse, $amountOfLight);
$green-dark: darken($green, $amountOfLight);
$pink-dark: darken($pink, $amountOfLight);
$purple-dark: darken($purple, $amountOfLight);
$violet-dark: darken($violet, $amountOfLight);
$indigo-dark: darken($indigo, $amountOfLight);
$blue-dark: darken($blue, $amountOfLight);
$teal-dark: darken($teal, $amountOfLight);
$orange-dark: darken($orange, $amountOfLight);
$brown-dark: darken($brown, $amountOfLight);
$slate-dark: darken($slate, $amountOfLight);


.text-inverse{
  color: $inverse
}
