<div class="pt-4">
  <table class="table table-lg border-0">
    <thead>
    <tr>
      <th scope="col-6">Tabla general</th>
      <th scope="col-2">JJ</th>
      <th scope="col-2">DG</th>
      <th scope="col-2">PTS</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let team of statistics">
      <td class="col-6">
        <div class="row align-items-center">
          <div class="col-lg-1 col-sm-12 text-center">
            <h3>{{team.position}}</h3>
          </div>
          <div class="col-lg-1 col-sm-12 text-center">
            <img [src]="team.image" [width]="75">
          </div>
          <div class="col-lg-10 col-sm-12 text-sm-center text-md-left text-lg-left">
            <h4>{{team.team}}</h4>
          </div>
        </div>
      </td>
      <td class="align-middle col-2"><h4>{{team.games}}</h4></td>
      <td class="align-middle col-2"><h4>{{team.scoreDiff}}</h4></td>
      <td class="align-middle col-2"><h4>{{team.points}}</h4></td>
    </tr>
    </tbody>
  </table>
</div>
