<div class="container">
  <button type="button" class="close" aria-label="Close"
          (click)="modal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row text-center pt-4 pb-4">
    <div class="col-12 mb-3">
      <h4>FICHA TÉCNICA</h4>
    </div>
    <div class="col-12">
      <img class="img-thumbnail rounded-circle"
           [width]="150"
           [src]="player.image">
      <p class="mb-1 mt-3">{{getNameFull(player)}}</p>
      <p class="mb-0">{{player.position}}</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h5 class="mb-0 mt-3">FECHA DE NACIMIENTO</h5>
      <p>{{player.birthday|date:'dd/MM/y'}}</p>
    </div>
    <div class="col-12">
      <h5 class="mb-0">LUGAR DE NACIMIENTO</h5>
      <p>{{player.birth_place}}</p>
    </div>
    <div class="col-12">
      <h5 class="mb-0">PESO</h5>
      <p>{{player.weight}} KG</p>
    </div>
    <div class="col-12">
      <h5 class="mb-0">ALTURA</h5>
      <p>{{player.height}} M</p>
    </div>
    <div class="col-12">
      <h5 class="mb-0">EQUIPO ANTERIOR</h5>
      <p>{{player.last_team}}</p>
    </div>
    <div class="col-12">
      <h5 class="mb-0">DORSAL</h5>
      <p>{{player.number}}</p>
    </div>
  </div>
</div>
