<div *ngFor="let month of games|filterGames:'Ascenso MX' | groupGames" class="fondoGame">
  <div class="nameMonth"><h5 class="text-uppercase pl-3 p-2">{{month.month}}</h5></div>
  <div *ngFor="let game of month.games">
    <div class="row align-items-center pt-3 pb-3">
      <div class="col-2 text-center">
        <i class="fa fa-calendar fa-lg mb-2"></i>
        <h5 class="mb-0">{{game.datetime | date:"dd ":'+0000'}}</h5>
        <h4 class="text-capitalize">{{getDate(game.datetime)}}</h4>
      </div>
      <div class="col text-center">
        <img src="../../../assets/logo.png" [width]="50">
        <h6>Venados F.C.</h6>
      </div>
      <div class="col text-center">
        <h1>{{game.home_score}} - {{game.away_score}}</h1>
      </div>
      <div class="col text-center">
        <img [src]="game.opponent_image" [width]="50">
        <h6>{{game.opponent}}</h6>
      </div>
    </div>
  </div>
</div>
