<div class="container p-0 pt-4">
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle><h2 class="text-inverse">COPA MX</h2></ng-template>
      <ng-template ngbTabContent>
        <app-copa [games]="games"></app-copa>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><h2 class="text-inverse">ASCENSO MX</h2></ng-template>
      <ng-template ngbTabContent>
        <app-ascenso [games]="games"></app-ascenso>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
