<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading text-center">
    <img class="img-thumbnail rounded-circle" [width]="200" src="../../../assets/logo.png">
  </div>
  <div class="list-group list-group-flush">
    <a [routerLink]="'games'" [routerLinkActive]="['active']" class="list-group-item list-group-item-action">Home</a>
    <a [routerLink]="'statistics'" [routerLinkActive]="['active']" class="list-group-item list-group-item-action">Estadísticas</a>
    <a [routerLink]="'players'" [routerLinkActive]="['active']" class="list-group-item list-group-item-action">Jugadores</a>
  </div>
</div>

