<div class="container-fluid pt-2">
  <div class="row">
    <div *ngFor="let f of team.forwards" class="col-lg-3 col-md-4 col-sm-6 pt-3 pb-3 text-center" (click)="openModal(f)">
      <div class="pt-4 pb-4">
        <img class="img-thumbnail rounded-circle"
             [width]="150"
             [src]="f.image">
        <p class="mb-0 mt-3">{{f.position}}</p>
        <p>{{getNameFull(f)}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let f of team.centers" class="col-lg-3 col-md-4  col-sm-6 pt-3 pb-3 text-center">
      <div class="pt-4 pb-4">
        <img class="img-thumbnail rounded-circle"
             [width]="150"
             [src]="f.image">
        <p class="mb-0 mt-3">{{f.position}}</p>
        <p>{{getNameFull(f)}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let f of team.defenses" class="col-lg-3 col-md-4  col-sm-6 pt-3 pb-3 text-center">
      <div class="pt-4 pb-4">
        <img class="img-thumbnail rounded-circle"
             [width]="150"
             [src]="f.image">
        <p class="mb-0 mt-3">{{f.position}}</p>
        <p>{{getNameFull(f)}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let f of team.goalkeepers" class="col-lg-3 col-md-4  col-sm-6 pt-3 pb-3 text-center">
      <div class="pt-4 pb-4">
        <img class="img-thumbnail rounded-circle"
             [width]="150"
             [src]="f.image">
        <p class="mb-0 mt-3">{{f.position}}</p>
        <p>{{getNameFull(f)}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let f of team.coaches" class="col-md-3 col-sm-6 pt-3 pb-3 text-center">
      <div class="pt-4 pb-4">
        <img class="img-thumbnail rounded-circle"
             [width]="150"
             [src]="f.image">
        <p class="mb-0 mt-3">{{f.position}}</p>
        <p>{{getNameFull(f)}}</p>
      </div>
    </div>
  </div>
</div>


