<nav class="navbar navbar-expand navbar-light bg-light border-bottom">
  <button class="btn btn-outline-0 border-0 shadow-none d-md-none d-sm-block" (click)="collapse()">
    <span class="navbar-toggler-icon btn-outline-0"></span>
  </button>
  <h4 class="mb-0 d-md-none d-sm-block">VENADOS F.C.</h4>
  <div class="navbar d-md-block d-none" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item" [routerLink]="'games'" [routerLinkActive]="['active']">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item" [routerLink]="'statistics'" [routerLinkActive]="['active']">
        <a class="nav-link">Estadísticas</a>
      </li>
      <li class="nav-item" [routerLink]="'players'" [routerLinkActive]="['active']">
        <a class="nav-link">Jugadores</a>
      </li>
    </ul>
  </div>
</nav>
